CoreWMS/bin
/CoreWMS/appsettings.json
/CoreWMS/appsettings.Development.json
/CoreWMS/appsettings.json
/.vs
/CoreWMS/.vs
/CoreWMS/Data/Migrations/00000000000000_CreateIdentitySchema.cs
/CoreWMS/Data/Migrations/00000000000000_CreateIdentitySchema.Designer.cs
/CoreWMS/Data/Migrations/20230825124045_Initial.cs
/CoreWMS/Data/Migrations/20230825124045_Initial.Designer.cs
/CoreWMS/Data/Migrations/20230826043153_Migration2.cs
/CoreWMS/Data/Migrations/20230826043153_Migration2.Designer.cs
/CoreWMS/Data/Migrations/20230826044240_Username.cs
/CoreWMS/Data/Migrations/20230826044240_Username.Designer.cs
/CoreWMS/Data/Migrations/20230826125434_UserChange.cs
/CoreWMS/Data/Migrations/20230826125434_UserChange.Designer.cs
/CoreWMS/Data/Migrations/20230826131547_AppRole.cs
/CoreWMS/Data/Migrations/20230826131547_AppRole.Designer.cs
/CoreWMS/Data/Migrations/20230826133202_AppRole2.cs
/CoreWMS/Data/Migrations/20230826133202_AppRole2.Designer.cs
/CoreWMS/Data/Migrations/20230827060611_SeedUserAndRole.cs
/CoreWMS/Data/Migrations/20230827060611_SeedUserAndRole.Designer.cs
/CoreWMS/Data/Migrations/20230827151904_NewUserAndRoles.cs
/CoreWMS/Data/Migrations/20230827151904_NewUserAndRoles.Designer.cs
/CoreWMS/Data/Migrations/ApplicationDbContextModelSnapshot.cs
