@using Microsoft.AspNetCore.Identity
@using CoreWMS.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.IsInRole("CORE_SHIPPING"))
{
    <a class="nav-link" asp-controller="@ViewBag.ControllerName" asp-action="Waves">Waves</a>
    <a class="nav-link" asp-controller="@ViewBag.ControllerName" asp-action="Picks">Picks</a>
    <a class="nav-link" asp-controller="@ViewBag.ControllerName" asp-action="Orders">Orders</a>
    <a class="nav-link" asp-controller="@ViewBag.ControllerName" asp-action="Equipment">Equipment</a>
}
